<!DOCTYPE html>
<html>
<head>
  <title>Карта</title>
  <meta charset="utf-8" />
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&coordorder=longlat" type="text/javascript"></script>
  <style>
    html, body, #map {
        width: 100%; height: 100%; padding: 0; margin: 0;
    }
  </style>
  <script type="text/javascript">
    ymaps.ready(init);
    function init() {
      var myMap = new ymaps.Map("map", {
        center: {{if .Tracks}}{{with index .Tracks 0}}{{.Location}}{{end}}{{else}}[37.57351,55.715084]{{end}},
        zoom: 16,
        controls: ['zoomControl', 'typeSelector']
      });
      {{if .Tracks}}var myPolyline = new ymaps.Polyline([{{range .Tracks}}
        {{.Location}},{{end}}
      ]);
      myMap.geoObjects.add(myPolyline);
      var data = {
        type: "FeatureCollection",
        features: [{{range $index, $element := .Tracks}}
          {type: "Feature", id: "{{$element.ID.Hex}}", 
           geometry: {type: "Point", coordinates: {{$element.Location}}}, 
           properties: {
             iconContent: {{$index}},
             balloonContent: "<table>"+
                "<tr><td>Date:</td><td>{{$element.Time}}</td></tr>"+
                "<tr><td>Location:</td><td>{{$element.Location}}</td></tr>"+
                "<tr><td>ID:</td><td>{{$element.ID.Hex}}</td></tr>"+
                "<tr><td>Method:</td><td>{{if ge .Method 6}}GSM+Wi-Fi{{else if ge .Method 4}}Wi-Fi{{else if ge .Method 2}}GSM{{else if ge .Method 1}}GPS{{else}}Unknown{{end}}</td></tr>"+
                "</table>", 
             clusterCaption: "# {{$index}}", 
             hintContent: "{{$element.Time}}"
           },
           options: {iconColor: "{{if ge .Method 6}}blue{{else if ge .Method 4}}orange{{else if ge .Method 2}}red{{else if ge .Method 1}}green{{else}}gray{{end}}"}},{{end}}
        ]
      };
      var objectManager = new ymaps.ObjectManager({groupByCoordinates: true, clusterize: true});
      objectManager.add(data);
      myMap.geoObjects.add(objectManager);
      myMap.setBounds(myMap.geoObjects.getBounds(), {checkZoomRange: true});{{end}}{{range .Places}}
      {{if .Circle}}myMap.geoObjects.add(new ymaps.Circle([{{.Circle.Center}},{{.Circle.Radius}}]{{if .Name}}, {
          hintContent: "{{.Name}}"
      }{{end}}));{{else if .Polygon}}myMap.geoObjects.add(new ymaps.Polygon({{.Polygon}}{{if .Name}}, {
          hintContent: "{{.Name}}"
      }{{end}}));{{end}}{{end}}
      myMap.copyrights.add('mdigger');
    }
  </script>
</head>
<body>
  <div id="map"></div>
</body>
</html>